<div class="page-header">
  <h1>Bienvenue sur Tikkets</h1>
</div>
<h4>Vous participez au Yakathon et toute l'équipe de Yakarouler vous en remercie.</h4>
<br/><br/>
<div class="alert alert-info">
  <h4>Pour continuer, merci de créer un compte</h4>
  <br/>
  <%= link_to "S'inscrire", new_user_registration_path, class: "btn btn-primary btn-lg" %>
  ou <%= link_to "se connecter", new_user_session_path %>
</div>