<div class="page-header">
  <%= link_to tickets_path, :class => 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Retour
  <% end %>
  <%= link_to @ticket, :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-info-sign"></span>
    Voir le ticket
  <% end %>
  <h1>Edition d'un ticket</h1>
</div>

<%= render 'form' %>
