<div class="page-header">
  <%= link_to new_ticket_path, :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    Nouveau ticket
  <% end %>
  <h1>Liste des tickets</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th>Sujet</th>
        <th>Date</th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @tickets) do |ticket| %>
        <td><%= link_to ticket.title, ticket %></td>
        <td class="date"><%= ticket.created_at.strftime("%d/%m/%y %H:%M") %></td>
      <% end %>
    </tbody>
  </table>
</div>
