<div class="page-header">
  <%= link_to tickets_path, :class => 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Retour
  <% end %>
  <h1>Nouveau ticket</h1>
</div>

<%= render 'form' %>

<%= content_for :sidebar do %>
  <br/><br/>
  <div class="alert alert-danger">
    <h4>Instructions</h4>
    <p>
      <ul>
        <li>choisir un titre clair</li>
        <li>noter l'url</li>
        <li>expliquer en détail la démarche pour reproduire</li>
      </ul>
    </p>
  </div>
  <div class="alert text-success">
    <h4>Remarque</h4>
    <p>Vous pouvez nous appeler à tout moment</p>
  </div>
<% end %>