//= require_self
//= require_tree .

$icon-font-path = 'lib/bootstrap/'

@import 'nib'
@import 'jeet'
@import 'rupture'

// edit()

rupture.scale = 0 400px 600px 800px 1050px 1800px
rupture.scale-names = 'xs' 's' 'm' 'l' 'xl' 'hd'

table .date
  white-space nowrap
  
.label-etai
  background-color #5cb85c
  
.label-critique
  background-color #d9534f
  
.label-interne
  background-color #777