//= require_tree .
//= require devise_bootstrap_views
//= require_self

@import 'nib'
@import 'lost'
@import 'rupture'

// edit(grey)

rupture.scale = 0 400px 600px 800px 1050px 1800px
rupture.scale-names = 'xs' 's' 'm' 'l' 'xl' 'hd'

table .date
  white-space nowrap
  
.label-etai
  background-color #337ab7

.label-critique
.label-urgent
.label-important
  background-color #d9534f
  
.label-interne
  background-color #f0ad4e
  
.label-bug
  background-color #5bc0de
  
.label-feature
.label-fonctionnalite
  background-color #5cb85c
  
.well-fade
  background-color #fcf8e3
  animation well-fade 7s forwards
  @keyframes well-fade
    100%
      background #f5f5f5