<div class="page-header">
  <h2>Timeline</h2>
</div>

<div id="activities" data-url="<%= activities_url format: :js %>">
  <% @activities.each do |activity| %>
    <h5>  
      <% if activity.owner %>
        <%= link_to activity.owner.username, activity.owner %>
      <% else %>
        un utilisateur qui a depuis été supprimé
      <% end %>
      <%= render_activity activity %>
    </h5>
    <div class="text-right infos">
      <small>il y a <%= time_ago_in_words(activity.created_at.localtime) %></small>
    </div>
    <br/>
    <hr/>
    <br/><br/>
  <% end %>
</div>