<div class="page-header">
  <h2>Timeline</h2>
</div>

<% @activities.each do |activity| %>
  <h5>  
    <% if activity.owner %>
      <%= link_to activity.owner.email, activity.owner %>
    <% end %>
    <%= render_activity activity %>
    <div class="text-right infos">
      <small><%= activity.created_at.localtime.strftime("%d/%m/%y %H:%M") %></small>
    </div>
  </h5>
  <br/>
  <hr/>
  <br/><br/>
<% end %>